/* FileName : project.css,
 * StudentName : Antony Tibursias Brightes Machado
 * StudentId : 301380198
 * Date : 02-02-2024 */


.services div p,
.services div ul{
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
}