
/* FileName : contact.css,
 * StudentName : Antony Tibursias Brightes Machado
 * StudentId : 301380198
 * Date : 02-02-2024 */

.anto-contact-text p a,
input,
input::placeholder,
textarea::placeholder,
.btn-send-message{
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 19px;
    font-weight: 500;
}